
.container {
  width: 100%;
  max-width: 100rem; // 1000px
  margin-inline: auto;
  padding-inline: 1.6rem; // 16px
  
}
.container--header {
  width: 100%;
  max-width: 120rem; // 1200px
  margin-inline: auto;
  padding-inline: 2rem; // 16px
}

// @media (min-width: 1440px) {
//   .container {
//     max-width: 150rem; // 1500px
//   }
// }
